@import '../../styles/mixins.scss';

$anim-delay: 6s;

.header {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 60px 30px 30px;
  cursor: default;
  overflow: hidden;
  --head-translateX: -46%;

  .wrapper {
    width: max-content;
    position: relative;
    margin: 0 auto;
    will-change: transform;
  }

  h1 {
    font-size: 2em;
    will-change: transform;
  }

  --para-width-animated: 100%;
  p {
    width: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 14px;
    font-weight: 500;
    transform: translate(-7%, -50%);
    overflow: hidden;
    will-change: width;

    &::after {
      content: '';
      width: 20px;
      height: 100%;
      background-image: linear-gradient(to right, transparent, rgb(9, 11, 12, 0.5));
      position: absolute;
      right: 0;
      top: 0;
    }

    &:global(.anim-ended)::after {
      display: none;
    }
  }

  .description {
    display: block;
    width: max-content;
    position: relative;
    will-change: transform, opacity;
  }

  @include min-width($size: 'sm') {
    --head-translateX: -45%;

    h1 {
      font-size: 2.5em;
    }
  }

  @include min-width($size: 'md') {
    --head-translateX: -30%;

    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 1em;
    }
  }

  @include min-width($size: 'lg') {
    padding-top: 80px;
    --para-width-animated: 70%;
    --head-translateX: -28%;

    h1 {
      font-size: 5em;
    }

    p {
      font-size: 1.2em;
      font-weight: 700;
    }
  }

  &:global(.loaded) {
    .wrapper {
      animation: head-move 1s $anim-delay cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    h1 {
      animation: scale-down 1s $anim-delay cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    p {
      animation: desc-move 1s $anim-delay cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    .hiddenTitle {
      visibility: hidden;
    }
  }
}

@keyframes head-move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(var(--head-translateX));
  }
}

@keyframes scale-down {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

@keyframes desc-move {
  from {
    width: 0;
  }

  to {
    width: var(--para-width-animated);
  }
}
